.App {
  height: 100%;
}

.sider_style {
  height: 100%;
  overflow-y: scroll;
}

.logo_container {
  background-color: #001529;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 61.5px;
}

.logo_title {
  color: white;
  font-size: 18px;
  background: transparent;
  padding: 2px;
  text-align: center;
}

.ant-layout-header {
  padding: 0 24px;
}
